body {
    font-family: Arial, sans-serif;
    background-color: #b35353;
    margin: 0;
    padding: 0;
}

header {
    background-color: #18380b;
    color: rgb(252, 247, 247);
    text-align: center;
    padding: 20px;
}

.menu {
    background: white;
    box-shadow: 0 0 6px 1px black;
    margin: 20px auto;
    padding: 15px;
    width: 80%;
    border-radius: 8px;
}

.menu h2 {
    border-bottom: 2px solid #5c514b;
    padding-bottom: 5px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    font-size: 16px;
    transition: all 0.3s ease;
}
.item:hover {
    padding: 15px 10px;
    background-color:#e6d1d1;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: rgb(61, 47, 47);
}

nav {
    display: flex;
    background-color: #e9e632;
    height: 60px;
    justify-content: end;
    align-items: center;

}

nav ul {

    list-style: none;
    padding: 0px;
    margin: 0px;

}

nav>ul>li {

    float: left;
}

nav ul li a {

    text-decoration: none;
    color: rgb(31, 16, 16);
    padding: 21px;
    display: block;
}

nav ul li a:hover {
    background-color: black;
    color: rgb(196, 98, 98);
    border-radius: 0 0 10px 10px;
}
.nav ul li a.active {
    background-color:black;
    color: rgb(216, 197, 197);

}